{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 100,
  "proseWrap": "preserve",
  "vueIndentScriptAndStyle": false,
  "quoteProps": "preserve"
}